@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/themes/fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
html, body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
}
swiper-container {
  width: 100%;
  height: auto;
}
swiper-slide {
  text-align: center;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.swiper-pagination-bullet {
  background: #d1d5db;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #1e3a8a;
  opacity: 0.75;
}
