@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    transition: .4s linear;
}

.navbar .logo h1{
    font-weight: 500;
    color: #fff;
}

.nav-body{
    display: flex;
}

.nav-body li{
    list-style-type: none;
    padding: 10px 20px;
}

.nav-body li a{
    text-decoration: none;
    transition: .3s linear;
    color: #fff;
}

.nav-body li a:hover{
    color: #a841ff; 
}

.btn{
    padding: 10px;
    border-radius: 4px;
    outline: navajowhite;
    border: none;
    /* color: #fff; */
    /* background: #ff4c29;  */
    /* background: transparent; */
    /* cursor: pointer; */
}

.btn:hover{
    background: #ff2a00;
}

.btn:active{
    background: #af1d00;
}

/* .primary */
 .white-ghost-button {
    margin-left: 24px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 45px;
    padding-left: 20px;
    padding-right: 20px
}

 .white-ghost-button:hover {
    background-color: #fff
}

 .white-ghost-button:hover a {
    color: #000
}


.banner{
    background: url(bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.navbar.sticky{
    /* background: #1b1b1b; */
    background-image: url('../static/img/woods/wood1.jpeg');
    padding: 10px 10px;
}

.dropdown-menu {
    background-image: url('../static/img/woods/wood1.jpeg');
    padding: 10px 10px;
    color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.dropdown-menu .dropdown-item{
    background-image: url('../static/img/woods/wood1.jpeg');
    padding: 10px 10px;
    color: white;
}
.nav-item{
    /* margin-left: 15px;  */
    margin-left: 3.5em;
}